.footer-div {
  width: 80vw;
  min-width: 400px;
  background-color: var(--clr-red-light);
  height: 50px;
  font-size: 2rem;
  color: #9d4d8c;
  border: 0.5px solid #9d4d8c;
  border-radius: 5px;
  margin: 50px 0px;
  height: 55px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(20, 2, 2, 0.35) 0px 5px 15px;
}

.brand {
  color: rgb(236, 245, 246);
  font-weight: bold;
  margin-right: 1.5rem;
}
